.bg-body-tertiary {
    background-color: rgb(40, 40, 40) !important;
}
div {
    background-color: rgb(40, 40, 40);
    color: white;
    .nav-link {
        color: white;
        
    }
    .nav-link active {
        color: white;
    }
    .navbar-brand {
        color: white;
    }
    
}