.page {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    .top-section {
        flex: 1;
        .businessName {

            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            margin-top: 70px;
            margin-bottom: 70px;
            font-size: 4rem;
            
        }
        .about {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
        }
    }
    .mid-section {
        flex: 6;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .top-circle{
        position: relative;
        background-color: #a5b4fc;
        height: 60vh;
        width: 60vh;
        border: none;
        border-radius: 50%;
        position: fixed;
        z-index: -1;
        top: -25vh;
        margin-inline: calc(50% - 12.5vw);
        animation: bounce 1s infinite;
    }
    @keyframes bounce {
        0%, 100% {
          transform: translateY(0); 
        }
        50% {
          transform: translateY(200px);
        }
      }
    
   
    .info {
        border: none;
        border-top: solid;
        border-width: 1px;
        border-color: white;
        flex: 1;
    }
    
}